version: 2
updates:
- package-ecosystem: nuget
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: Microsoft.NET.Test.Sdk
    versions:
    - 16.9.1
    - 16.9.4
  - dependency-name: NLog
    versions:
    - 4.7.9
  - dependency-name: MSTest.TestFramework
    versions:
    - 2.2.2
  - dependency-name: MSTest.TestAdapter
    versions:
    - 2.2.2
  - dependency-name: coverlet.collector
    versions:
    - 3.0.3
  - dependency-name: Analogy.LogServer.Clients
    versions:
    - 0.5.0
- package-ecosystem: nuget
  directory: "/Analogy.LogViewer.NLog.Targets.UnitTests"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: MSTest.TestAdapter
    versions:
    - 2.2.1
    - 2.2.3
  - dependency-name: MSTest.TestFramework
    versions:
    - 2.2.3
